In [2]:
import pandas as pd
import boto3
import sagemaker
import matplotlib.pyplot as plt
import os
import numpy as np

In [3]:
sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name

In [4]:
!pip install --disable-pip-version-check -q PyAthena==2.1.0
from pyathena import connect

/opt/conda/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [5]:
database_name = "oneclickdb"
%store database_name

Stored 'database_name' (str)

In [6]:
 # Set S3 staging directory -- this is a temporary directory used for Athena queries
s3_staging_dir = "s3://{0}/athena/staging".format(bucket)

In [7]:
conn = connect(region_name = region, s3_staging_dir=s3_staging_dir)

In [8]:
statement = "CREATE DATABASE IF NOT EXISTS {}".format(database_name)
print(statement)

CREATE DATABASE IF NOT EXISTS oneclickdb

In [9]:
pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [10]:
statement = "SHOW DATABASES"

df_show = pd.read_sql(statement, conn)
df_show.head(5)

            database_name
0                 default
1              oneclickdb
2  sagemaker_featurestore

In [11]:
# drop_stat = "DROP DATABASE oneclickaws"

# pd.read_sql(drop_stat, conn)

In [12]:
if database_name in df_show.values:
    ingest_create_athena_db_passed = True

In [13]:
%store ingest_create_athena_db_passed

Stored 'ingest_create_athena_db_passed' (bool)